body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: white;
    position: fixed;
    top: 0;
    height: 90px;
}
#minha_foto{
    border-radius: 100px;
}

#navegacao {
    padding: 10px 0px;
    border: 2px solid red;
    margin-top: 90px;
    background-color: gray;
    height: 50px;
    font-size: 12pt;
    border-radius: 20px
}

.nav {
    border: 2px solid blue;
    width: 18%;
    display: inline-block;
    border-radius: 8px
}

#link_externo {
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
}
#article_align {
    border: 2px solid red;
    width: 75%;


}