body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    height: 90px;
}

#minha_foto {
    border-radius: 100px;
}

#navegacao {
    padding: 10px 0px;
    border: 2px solid red;
    margin-top: 90px;
    background-color: gray;
    height: 50px;
    font-size: 12pt;
    border-radius: 20px
}

.nav {
    border: 2px solid blue;
    width: 18%;
    display: inline-block;
    border-radius: 8px;
    font-weight: 700;
}

#link_externo {
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
}

#licoes_aprendidas {
    background-color: #eeeeee;
}

#licoes_a_aprender {
    background-color: #eeeeee;
}

#aside {
    padding: 0px;
    border: 2px solid red;
    background-color: rgb(216, 139, 149);
    height: 180px;
    width: 20%;
    margin-top: 2px;
    border-radius: 8px;
}